/docs             export-ignore
/examples         export-ignore
/tests            export-ignore
.coveralls.yml    export-ignore
.docheader        export-ignore
.gitignore        export-ignore
.php_cs           export-ignore
.travis.yml       export-ignore
phpunit.xml.dist  export-ignore
