language: php

php:
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer update

script:
  - php ./vendor/bin/phpunit --coverage-text --coverage-clover ./build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v
