language: php

matrix:
  fast_finish: true
  include:
  - php: 7.4
    env:
    - DEPENDENCIES=""
    - EXECUTE_CS_CHECK=true
    - TEST_COVERAGE=true
  - php: 7.4
    env:
    - DEPENDENCIES="--prefer-lowest --prefer-stable"
  - php: 8.0
    env:
    - DEPENDENCIES="--ignore-platform-req=php"
  - php: 8.0
    env:
    - DEPENDENCIES="--ignore-platform-req=php --prefer-lowest --prefer-stable"

cache:
  directories:
  - $HOME/.composer/cache
  - $HOME/.php-cs-fixer
  - $HOME/.local

before_script:
- mkdir -p "$HOME/.php-cs-fixer"
- if php --ri xdebug >/dev/null; then phpenv config-rm xdebug.ini; fi
- composer self-update
- composer update --prefer-dist $DEPENDENCIES

script:
- if [[ $TEST_COVERAGE == 'true' ]]; then php -dzend_extension=xdebug.so ./vendor/bin/phpunit --exclude-group=ignore --coverage-text --coverage-clover ./build/logs/clover.xml; else ./vendor/bin/phpunit --exclude-group=ignore; fi
- ./vendor/bin/psalm
- if [[ $EXECUTE_CS_CHECK == 'true' ]]; then ./vendor/bin/php-cs-fixer fix -v --diff --dry-run; fi

after_success:
- if [[ $TEST_COVERAGE == 'true' ]]; then php vendor/bin/php-coveralls -v; fi

notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/61c75218816eebde4486
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
