<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         timeoutForSmallTests="2"
         enforceTimeLimit="true"
         failOnWarning="true"
         failOnRisky="true"
         timeoutForLargeTests="180"
>
    <testsuite name="Prooph EventStore Test Suite">
        <directory>./tests</directory>
    </testsuite>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
