<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the prooph/event-store-client.
  ~ (c) 2018-2018 prooph software GmbH <contact@prooph.de>
  ~ (c) 2018-2018 Sascha-Oliver Prolic <saschaprolic@googlemail.com>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php"
        failOnWarning="true"
        failOnRisky="true"
>
    <testsuite name="Prooph EventStore Test Suite">
        <directory suffix=".php">./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
